.App {
  text-align: center;
  justify-content: center;

}

/* Camera */

.camera-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
}

/* Notifications */

.notifications {
  margin-top: 2%;
  margin-bottom: 2%;
}

.notifications-container {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.grayed-out {
  -webkit-filter: grayscale(100%);
         -moz-filter: grayscale(100%);
           -o-filter: grayscale(100%);
          -ms-filter: grayscale(100%);
              filter: grayscale(100%); 
}
