.App {
  text-align: center;
  justify-content: center;
}

body {
  background-color: #e6f0f8;
}

/* Camera */

.camera-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
}

/* Notifications */

.notifications {
  margin-top: 2%;
  margin-bottom: 2%;
}

.notifications-container {
  display:flex;
  flex-direction: column;
  align-items: center;
}